@page "/"

<PageTitle>OpenAI.NET Test</PageTitle>
<h3><b>Kellton Disruptathon 2023</b></h3>
<div>&nbsp;</div>
<label for="usr"><b>An introduction and uses of OpenAI. Design and developed by Team AI Wizard for demo purpose </b></label>
<div>&nbsp;</div>
<div>&nbsp;</div>
<NavLink class="nav-link" href="search">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Try out Search
</NavLink>
